/*** DemoPage ***/

.DemoPage {
    overflow: hidden;
}

.DemoPage #photoCanvas {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*** Photo ***/

.Photo {
    position: relative;
}

.Photo #Photo_src {
    -moz-box-shadow: 5px 5px 10px #b0b0b0;
    -webkit-box-shadow: 5px 5px 10px #b0b0b0;
    box-shadow: 5px 5px 10px #b0b0b0;
    bottom: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    /* vertical-align: top; */
    position: absolute;
}

/*** PhotoCanvas ***/

.PhotoCanvas {
    line-height: 0;
    overflow: hidden;
    padding: 20px;
}

.PhotoCanvas .Photo {
    border: 10px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
}

