build

quicommon/quicommon.*

site/blog/blog.*
site/controls/controls.*
site/downloads/downloads.*
site/features/features.*
site/gallery/gallery.*
site/home/home.*
site/tutorial/section01/section01.*
site/tutorial/section02/section02.*
site/tutorial/section03/section03.*
site/tutorial/section04/section04.*
site/tutorial/section05/section05.*
site/tutorial/section06/section06.*
site/tutorial/section07/section07.*
site/tutorial/section08/section08.*
site/tutorial/section09/section09.*
site/tutorial/section10/section10.*
site/tutorial/section11/section11.*
site/tutorial/section12/section12.*
site/tutorial/section13/section13.*
site/tutorial/section14/section14.*
tests/tests.*
tools/**/obj/*
tools/**/bin
tools/*.suo
tools/**/*.user