.externalToolBuilders
.project
.pydevproject
*.sublime-*
*.pyc
*.csproj.user
*.suo
Debug
Release
*.zip
*.msi
*.exe

build
plugins/quickui.coffee.js
sandbox/sandbox.*
src/quickui.js
test/unittests.js

release
mono/lib
old
TestResult.xml
output/
debian/debhelper.log
debian/tmp
*-stamp
debian/files
debian/substvars
