/*** BoxWithLabel ***/

/* Generic appearance */
.BoxWithLabel.generic {
    border: 1px solid lightgray;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.BoxWithLabel.generic #BoxWithLabel_label {
    background: lightgray;
}

/*** MyButton ***/

.MyButton.default {
    font-weight: bold;
}

