/*** AddThis ***/

.AddThis a {
	border: none !important;
}

.AddThis a:hover {
	border: none !important;
}

/*** CodeOutput ***/

.CodeOutput #CodeOutput_content {
	border-top: 1px dotted #d7c5b4;
	border-bottom: 1px dotted #d7c5b4;
	font-family: Times, serif;
	margin: 0 20px;
	padding: 10px;
}

.CodeOutput h1 {
	font-family: Times, serif !important;
	margin-top: 0;
}

.CodeOutput #_label {
	color: #b49d87;
	font-size: 10pt;
	text-align: right;
	width: 100%;
}

/*** Link ***/

.Link {
	display: inline;
}

/*** NavigationBar ***/

.NavigationBar .NavigationLink {
	font-size: 12pt;
	margin-right: 20px;
}

.NavigationBar a {
	border: none !important;
	color: white !important;
}

.NavigationBar a:hover {
	background-color: #47aaf0;
}

/*** Navigator ***/

.Navigator .Link {
	display: block;
	margin: 7px 0;
}

.Navigator a {
    padding: 2px 5px;
}

.Navigator .Link.highlight a {
    font-weight: bold;
}

/*** Popout ***/

.Popout {
    overflow: hidden;
}

.Popout.hovered {
    color: red;
}

/*** SitePage ***/

.SitePage {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

.SitePage #tableMain {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

.SitePage td {
	padding: 20px;
	vertical-align: top;
}

.SitePage #topRow {
	background-image: url(/QuickUI/site/resources/water.jpg);
	background-repeat: no-repeat;
	background-color: #2d7ab0;
	border-bottom: 1px solid #391c01;
	color: white;
}

.SitePage #logoCell {
	vertical-align: bottom;
	width: 260px;
}

.SitePage #logotype a {
	border: none !important;
	color: white !important;
	font-size: 24pt;
	font-weight: bold;
}

.SitePage .bracket {
	color: #D7C5B4;
	font-weight: normal;
}

.SitePage #tagline {
	font-size: 10pt;
}

.SitePage #topNavigation {
	padding-left: 40px;
	vertical-align: bottom;
}

.SitePage #leftNavigation {
	background-color: #391c01;
	height: 100%;
	width: 0;
}

.SitePage #pageCanvas {
	/* font-family: Times, serif; */
	font-size: 11pt;
	padding-left: 40px;
}

.SitePage #SitePage_area {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-variant: small-caps;
	letter-spacing: 2px;
}

.SitePage #leftNavigation {
	color: white;
}

.SitePage #leftNavigation a {
	border: none !important;
	color: white !important;
}

.SitePage #leftNavigation a:hover {
	background-color: #928274;
}

.SitePage #SitePage_content {
	max-width: 800px;
}

.SitePage .CodeOutput {
	margin: 5px 0 10px 0;
}

/*** SourceCode ***/

.SourceCode {
	position: relative;
}

.SourceCode #_divLink {
	top: 5px;
	position: absolute;
	right: 8px;
	text-align: right;
	width: 100%;
}

.SourceCode a#link {
	border: none !important;
}

/*** Tag ***/

.Tag {
	display: inline;
	font-family: Consolas, Lucida Console, Courier, Courier New, monospace;
}

