/*** GalleryNavigationLinks ***/

.GalleryNavigationLinks #linkIndex {
	margin-bottom: 15px;
}

/*** HintTextBox ***/

.HintTextBox {
    cursor: text;
	position: relative;
}

.HintTextBox #HintTextBox_textBox {
	width: 100%;
}

.HintTextBox #HintTextBox_hint {
	bottom: 0;
    color: gray;
    position: absolute;
    padding: 2px 6px;
    overflow: hidden;
	top: 0;
	width: 100%;
}

/*** HintTextBoxDemo ***/

.HintTextBoxDemo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	width: 300px;
}

.HintTextBoxDemo input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

/*** SampleSpriteButtonDemo ***/

.SampleSpriteButtonDemo .SampleSpriteButton {
	margin-right: 6px;
}

/*** SearchBox ***/

.SearchBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox #searchButton {
    margin-left: 4px;
}

/*** SpriteButton ***/

.SpriteButton {
	display: inline-block;
	position: relative;
}

.SpriteButton .Sprite {
	height: 100%;
	position: absolute;
	top: 0;
	/* 
	 * Each sprite covers half the background
	 */
	width: 50%;
	z-index: 0;
}

.SpriteButton #backgroundLeft {
	background-position: left 0;
	left: 0;
}

.SpriteButton #backgroundRight {
	background-position: right 0;
	/*
	 * Use left: 50% instead of right: 0, as the latter doesn't work exactly right on WebKit.
	 */
	left: 50%;
}

.SpriteButton button {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
	outline: none;
	-moz-outline: none;
	overflow: visible;
	position: relative;
	white-space: nowrap;
}

.SpriteButton.disabled button {
	cursor: default;
}

/*** SpriteDemo ***/

.SpriteDemo #image {
	cursor: pointer;
}

/*** TextBoxWithButton ***/

.TextBoxWithButton {
    display: inline-block;
}

.TextBoxWithButton > * {
    display: inline-block;
    vertical-align: middle;
}

/*** SampleSpriteButton ***/

.SampleSpriteButton button {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	padding: 6px 10px 8px 10px;
}

.SampleSpriteButton.disabled {
	color: #bbb;
}

